* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color:rgb(34, 40, 49);
    color: rgb(69, 63, 63);
    padding: 100px;
}


.flex-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color:rgb(57, 62, 70);
    padding:20px;
    border: 3px dotted black;
}

.heading-box,
.purchase_date {
    background-color:rgb(0, 173, 181);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.days_owned {
    background-color:rgb(238, 238, 238);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
h2
{
    color:aliceblue;
}
.accessory {
    display: none;
}
.accessory h4 {
    background-color: cadetblue;
    color:white;
    padding: 5px;
}

#btn-reveal {
    background-color: rgb(42, 159, 165);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    padding: 5px;
}

@media screen and (max-width:676px) {
    .flex-container {
        width:90%;
    }

}